build/
dist/
*.egg-info/
build/CMakeFiles/rules.ninja
build/CMakeFiles/InstallScripts.json
build/CMakeFiles/rules.ninja
librandom_walk.so
.vscode/settings.json
.vscode/tasks.json
.vscode/*
random_walk_package/build
random_walk_python/build
build/.ninja_deps
build/.skbuild-info.json
build/cmake_install.cmake
.ninja_log
.ninja_deps
tests/__pycache__/
random_walk_package/random_walk.egg-info/
__pycache__/
